@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-green: var(--green);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-white: var(--white);
}

:root {
  --raleway: 'Raleway';
  --notoSans: 'Noto Sans';
  --radius: 0.625rem;
  --background: #F5F7FA;
  --foreground: #444;
  --card: #ffffff;
  --card-foreground: #252525;
  --popover: #ffffff;
  --popover-foreground: #252525;
  --primary: #1d7af3;
  --primary-foreground: #fbfbfb;
  --secondary: #f7f7f7;
  --secondary-foreground: #343434;
  --muted: #f7f7f7;
  --muted-foreground: #8e8e8e;
  --accent: #f7f7f7;
  --accent-foreground: #343434;
  --destructive: #d65c4a;
  --border: #ebebeb;
  --input: #ebebeb;
  --ring: #b5b5b5;
  --chart-1: #d4572f;
  --chart-2: #2d7bbf;
  --chart-3: #405b9e;
  --chart-4: #e9b34f;
  --chart-5: #e19c40;
  --sidebar: #fbfbfb;
  --sidebar-foreground: #252525;
  --sidebar-primary: #343434;
  --sidebar-primary-foreground: #fbfbfb;
  --sidebar-accent: #f7f7f7;
  --sidebar-accent-foreground: #343434;
  --sidebar-border: #ebebeb;
  --sidebar-ring: #b5b5b5;
  --white: #fff;
  --black: #000;
  --green: #8BC34A;
}

.dark {
  --background: #252525;
  --foreground: #fbfbfb;
  --card: #343434;
  --card-foreground: #fbfbfb;
  --popover: #343434;
  --popover-foreground: #fbfbfb;
  --primary: #ebebeb;
  --primary-foreground: #343434;
  --secondary: #454545;
  --secondary-foreground: #fbfbfb;
  --muted: #454545;
  --muted-foreground: #b5b5b5;
  --accent: #454545;
  --accent-foreground: #fbfbfb;
  --destructive: #e1553e;
  --border: #ffffff1a;
  --input: #ffffff26;
  --ring: #8e8e8e;
  --chart-1: #5d57d4;
  --chart-2: #55b66a;
  --chart-3: #e19c40;
  --chart-4: #9146d3;
  --chart-5: #d36b4c;
  --sidebar: #343434;
  --sidebar-foreground: #fbfbfb;
  --sidebar-primary: #5d57d4;
  --sidebar-primary-foreground: #fbfbfb;
  --sidebar-accent: #454545;
  --sidebar-accent-foreground: #fbfbfb;
  --sidebar-border: #ffffff1a;
  --sidebar-ring: #8e8e8e;
}

@layer base {

  * {
    @apply border-border outline-ring/50;
    font-family: 'Noto Sans', sans-serif;
  }

  .font-raleway {
    font-family: 'Raleway', sans-serif;
  }

  .font-noto-sans {
    font-family: 'Noto Sans', sans-serif;
  }

  h1 {
    @apply text-3xl;
    font-family: 'Raleway', sans-serif;
  }

  body {
    @apply bg-background text-foreground;
  }

  .animate-fade-line {
    @apply relative after:absolute after:bottom-[-4px] after:left-0 after:h-[2px] after:w-0 after:bg-primary after:transition-all after:duration-300 hover:after:w-full
  }

}